<header class="nav_header">
    <div class="logo_box list_style_none">
        <li><%= link_to "Wetty", foods_path, class:"td_none" %></li>
        
    </div>

    <nav class="nav_box">
        <ul class="list_style_none">
            <li><%= link_to "Users", users_path, class:"td_none" %></li>
            <li><%= link_to "Recipes", recipes_path, class:"td_none" %></li>
            <li><%= link_to "Foods", foods_path, class:"td_none" %></li>
            <li><%= link_to "Public Recipes", public_recipes_path, class:"td_none" %></li>
            <li><% if user_signed_in? %>
             <%= button_to ('Sign Out'), destroy_user_session_path, method: :delete, form: {  data: { turbo: :false } }, class:"custom_btn2 td_none" %>
            <% end %></li>
            
        </ul>
    </nav>
</header>
