<p style="color: green"><%= notice %></p>

<%= render @food %>

<div>
  <%= link_to "Edit this food", edit_food_path(@food) %> |
  <%= link_to "Back to foods", foods_path %>

  <%= button_to "Destroy this food", @food, method: :delete %>
</div>


<main>
        <section class="shopping_list1">
            <header>
                <h2>Shopping List</h2>
            </header>
        </section>

        <section class="shopping_list2">

            <article>
                <div>
                    <p>Amount of food items to buy: 3</p>
                </div>
                <div>
                    <p>Total value of food needed: $894</p>
                </div>
            </article>

            <table class="styled_table">

                <thead>
                    <tr>
                        <th>Food</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr class="active_row custom_row1">
                        <th class="custom_font1">Apple</th>
                        <th class="custom_font1">20g</th>
                        <th class="custom_font1">$100</th>
                    </tr>

                </tbody>

            </table>


        </section>
    </main>